<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Exercise</title>
</head>
<body>
    <h1>Profile Page</h1>

    <ul>
        <li>Name: <%= user.name %></li>
        <li>Age:  <%= user.age %></li>
        <li>City:  <%= user.city %></li>

    </ul>
</body>
</html>