<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head.ejs')  %>
<body>
    <%- include('./layout/nav.ejs')  %>

    <div class="content">
        <form action="/posts/create" method="POST">
            <div>
                <label for="">Post Title</label>
                <input type="text" name="title" id="title">
            </div>

            <div>
                <label for="">Post Sub Title</label>
                <input type="text" name="subtitle" id="subtitle">
            </div>

            <div>
                <label for="body">Body</label>
                <textarea name="body" id="body"></textarea>
            </div>
            <button>Submit</button>
        </form>
    </div>
    
    <%- include('./layout/footer.ejs')  %>
</body>
</html>