<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodejs | <%= title %></title>
</head>
<body>
     <nav>
        <div>
            <a href="/">Cereate Page</a>
            <p>This is create page</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/posts/create">Create Post</a></li>
        </ul>
    </nav>

    <div>
        <form action="">
            <div>
                <label for="">Post Title</label>
                <input type="text" name="title" id="title">
            </div>

            <div>
                <label for="">Post Sub Title</label>
                <input type="text" name="subtitle" id="subtitle">
            </div>

            <div>
                <label for="body">Body</label>
                <textarea name="body" id="body"></textarea>
            </div>
            <button>Submit</button>
        </form>
    </div>
    
    
</body>
</html>