<nav>
    <div>
        <h1><a href="/">Home Page</a></h1>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/posts/create">Create Post</a></li>
    </ul>
</nav>
